<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
<div class="row myrow">
    <form id="imgForm"  class="form-horizontal">
        <div class="col-md-2">
            <label for="headImg">商品图片</label>
        </div>
        <div class="col-md-10" >
            <input type="text" id="testimg" name="url" />
            <input type="file"  class="projectfile"  name="imgg" id="headImg">
        </div>
    </form>
</div>
</body>
</html>