<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蓝天计划平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/linearicons/style.css">
    <link rel="stylesheet" href="/lib/chartist/css/chartist-custom.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/css/commom.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/lantian.png">
    <!-- Javascript -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/lib/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/lib/chartist/js/chartist.min.js"></script>
    <script src="/js/klorofil-common.js"></script>
    <!-- <script src="../static/lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script> -->
    <script  src="/lib/zsh-ui/js/bootstrap-4.0.0-dist/js/bootstrap-table.min.js"></script>
    <script src ="/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <div id="abc"></div>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="/img/logo-dark.png" alt="Klorofil Logo"
                                      class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i
                        class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <div style="line-height:52px;">
                            <i class="lnr lnr-calendar-full m-r-5"></i>2019年4月18号
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="logout()"><img src="../../static/img/_20190418180241.png"
                                                                                                           class="img-circle" alt="Avatar"> <span>退出</span><!-- <span th:text="${session.CUR_USER.username}"></span> --></a>
                        <!-- <ul class="dropdown-menu" onclick="logout()">
                            <li><a href="#"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
                        </ul> -->
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav" id="menuTree">
                    <li><a href="toAdv"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                    <li><a href="reportList.html" class=""><i class="lnr lnr-file-empty"></i> <span>效果报告</span></a>
                    </li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-lock"></i>
                            <span>权限管理</span>
                            <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="/toUser" class="">用户管理</a></li>
                                <li><a href="/toRole" class="">角色管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#subPages2" data-toggle="collapse" class="" aria-expanded="true"><i class=" lnr
								lnr-lock"></i>
                        <span>店铺管理</span>
                        <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="" aria-expanded="true">
                            <ul class="nav">
                                <li><a href="toShopping" class="">商品管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="data-maintain.html" class=""><i class="lnr lnr-screen"></i> <span>数据维护</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-headline">
                            <div class="panel-heading">
                                <div class="ft">
                                    <h3 class="panel-title m-0"> <i class="fa fa-medal"></i>授权</h3>
                                </div>
                                <div class="rt">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="flex">
                                    <img src="/img/auth.png" class="">
                                    <span class="flex-1 t-a-c text-primary" data-toggle="modal"
                                          data-target="#modal">
											<i class=" fa fa-eye"></i>
											查看证书</span>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-headline">
                            <div class="panel-heading">
                                <div class="ft">
                                    <h3 class="panel-title m-0"> <i class="fa fa-medal"></i>公司简介</h3>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>北京广联互动传媒有限公司是国内领先的新锐移动互联网传播公司。</p>
                                <p>公司致力于中国铁路互联网广告资源的开发，是铁路12306互联网广告资源独家运营商。公司创始人员均是国内媒体、移动互联网行业资深人员，业务范围遍及深圳、北京、上海、广州、重庆、天津、武汉、长沙、南昌、成都等全国二十几个大中城市。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="ft">
                                    <h3 class="panel-title m-0"> <i class="fa fa-medal"></i>广告位</h3>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6 m-b-20px">
                                    <img src="/img/phone1.png" class="w-100">
                                </div>
                                <div class="col-md-6 m-b-20px">
                                    <img src="/img/phone2.png" class="w-100">
                                </div>
                                <div class="col-md-6 m-b-20px">
                                    <img src="/img/phone3.png" class="w-100">
                                </div>
                                <div class="col-md-6 m-b-20px">
                                    <img src="/img/phone4.png" class="w-100">
                                </div>
                                <div class="col-md-6 m-b-20px">
                                    <img src="/img/phone5.png" class="w-100">
                                </div>
                                <div class="col-md-6 m-b-20px">
                                    <img src="/img/phone6.png" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">查看证书</h4>
                    </div>
                    <div class="modal-body cl _modal">
                        <img src="/img/authorization.png" class="w-100">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <input type="hidden" id="footerCompany" th:value="${session.CUR_USER.company}">
        <div class="container-fluid">
            <p id="footer" class="copyright"></p>
        </div>
    </footer>
</div>

</body>
</html>