<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <script type="text/javascript" src="js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="js/easyui_util.js"></script>

    <script type="text/javascript" src="js/kindeditor-4.1.10/kindeditor-all.js"></script>
    <link rel="styleSheet" href="js/kindeditor-4.1.10/themes/default/default.css" type="text/css">

    <script type="text/javascript" src="js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="js/easyui1.5/themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="js/easyui1.5/themes/icon.css" type="text/css"></link>

    <script type="text/javascript" src="js/util-js.js"></script>

    <link rel="stylesheet" href="js/uploadify/uploadify.css" type="text/css"></link>
    <script type="text/javascript" src="js/uploadify/jquery.uploadify.js"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'上'" height="20%">
    <div style="line-height:100px">
        <center>

        </center>
    </div>
</div>
<div data-options="region:'west',title:'左'" width="20%">
    <div class="easyui-accordion" data-options="fit:true,selected:3">
        <div title="导航树">

        </div>

        <div title="util导航树">
            <ul id="navUtilEast"></ul>
        </div>
        <div title="静态树">

            <ul class="easyui-tree">
                <li>
                    <span>金科</span>
                    <ul>
                        <li>
                            <span>北京</span>
                            <ul>
                                <li>
                                    <span>java</span>
                                    <ul>
                                        <li>
                                            <span>1810a</span>
                                        </li>
                                        <li>
                                            <span>1810b</span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>测试</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>西安</span>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div title="异步树">
            <ul id="tree1"></ul>
        </div>
        <div title="同步树">

        </div>
    </div>
</div>
<div data-options="region:'center',title:'中'">
    <div class="easyui-tabs" id="myTabs">
        <div id="mytabs" title="欢迎" data-options="closetable:true">
            欢迎使用
        </div>
        <div title="欢迎1" data-options="closable:true">
            欢迎使用
        </div>
    </div>
</div>

<!-- 添加详细资料窗口 -->
<div id="editMyDetailDialog" class="easyui-dialog" data-options="modal:true,closed:true,buttons:[{
    	text:'保存',
    	iconCls:'icon-save',
    	handler:function(){

    	}
    },{
    	text:'关闭',
    	iconCls:'icon-cancel',
    	handler:function(){
    		closeDialog('editMyDetailDialog');
    	}
    }]" style="width:800px;height:500px">
    <center>
        <form id="editMyDetailForm">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </center>
</div>
</body>
<script type="text/javascript">

</script>
<script type="text/javascript">
    $("#tree1").tree({
        url:'findTree',
        parentField:'pid',
        lines:true,
        onClick:function(node){
            if(node.url!=null&&node.url!=''){
                var exists = $("#myTabs").tabs('exists',node.text)
                if(exists){
                    $("#myTabs").tabs('select',node.text)
                }else{
                    $("#myTabs").tabs('add',{
                        title:node.text,
                        content:createIframe(node.url),
                        closable:true,
                        tools:[{
                            iconCls:'icon-mini-refresh',
                            handler:function(){
                                var selectTab = $("#myTabs").tabs('getSelected');
                                $("#myTabs").tabs('update',{
                                    tab:selectTab,
                                    options:{
                                        content:createIframe(node.url)
                                    }
                                })
                            }
                        }]
                    })
                }

            }


        }


    })
    function createIframe(url){
        return '<iframe frameborder="0" src="'+url+'" width="99.9%" scrolling="no" height="96%"></iframe>'
    }

</script>
</html>