<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点啥点！还点！</title>
    <script type="text/javascript" src="/js/bootstrap/bootstrap/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap/bootStrap_util.js"></script>

    <script type="text/javascript" src="/js/bootstrap/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap/bootstrap3/css/bootstrap.css"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/css/commom.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/lantian.png">

    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="/js/bootstrap/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js/bootstrap/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>

    <link rel="stylesheet" href="/js/bootstrap/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="/js/bootstrap/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <script src="/js/bootstrap/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入文件上传的css、js -->
    <link rel="stylesheet" href="/js/bootstrap/bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="/js/bootstrap/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>
<div class="container-fluid">
    <form   class="form-horizontal">
        <div class="col-xs-12">
            <div class="col-sm-12">
                <div style="width: 100%">
                    <table>
                        <tr>
                            <th>权限不足！请离开！</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</div>
</html>