<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能展示</title>
</head>
<body>
<div class="container-fluid">
    <form   class="form-horizontal">
        <div class="col-xs-12">
            <div class="col-sm-12">
                <div class="Roletable" id="Roletable" style="width: 100%">
                    <table>
                        <tr>
                            <th>商品管理</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</div>
<script type="text/javascript">
</script>
</html>