<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<title>蓝天计划角色管理平台</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/lib/linearicons/style.css">
	<link rel="stylesheet" href="/lib/chartist/css/chartist-custom.css">
	<link rel="stylesheet" href="/css/bootstrap-table.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/css/commom.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<!-- 引入选项卡的js、css -->
	<link rel="stylesheet" href="/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
	<script type="text/javascript" src="/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/lantian.png">
	<!-- Javascript -->
	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/lib/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/lib/chartist/js/chartist.min.js"></script>
	<script src="/js/klorofil-common.js"></script>
	<script src="/js/role/role.js"></script>
	<script src="/js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
	<!-- <script src="../static/lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script> -->
	<script  src="/lib/zsh-ui/js/bootstrap-4.0.0-dist/js/bootstrap-table.min.js"></script>
	<script src ="/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
</head>

<body>
	<!-- WRAPPER -->
	<!-- 广告计划表 -->
	<div class="panel panel-headline">
		<div class="panel-heading">
			<span class="ft fa fa-table ft-22"></span>
			<h3 class="panel-title">角色列表</h3>

			<div class="right">
				<button type="button" class="btn-toggle-collapse"><i
						class="lnr lnr-chevron-up"></i></button>
				<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-hover" id="table">
			</table>
			<div>
			</div>

		</div>
	</div>
	<!-- END 广告计划表 -->

	<!-- END MAIN CONTENT -->

	<!-- Modal -->




		<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">用户列表</h4>
					</div>
					<div class="modal-body cl _modal">
						<div class="col-md-6 form-inline m-b-20px">
							<span>用户：</span>
							<select name="productStock" class="form-control" id="productStock" width="100px">
								<option value="">请选择</option>
								<option value="2">张三</option>
								<option value="4">妲己</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" onclick="editProductStock(userid)">选择</button>
					</div>
				</div>
			</div>

	</div>
	<!-- MODAL END -->
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>

	<!-- END WRAPPER -->

</body>
<script type="text/javascript">
	createIframe = function(url){
		$("#tabs").html("<iframe src='"+url+"' style='width:99%; height:99%'></iframe>");
	}

	logout = function(){
		location.href="/logout";
	}

</script>

</html>