<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择用户</title>
</head>
<body>
<div class="container-fluid">
    <form   class="form-horizontal">
        <div class="col-xs-12">
            <div class="col-sm-12">
                <select id="provinceSelect" class="form-control" >
                </select>
                <select name="productStock" class="form-control" id="productStock" width="100px">
                    <option value="">请选择</option>
                    <option value="2">张三</option>
                    <option value="4">妲己</option>
                </select>
            </div>
        </div>
    </form>
</div>
</body>
</div>
</html>