<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<title>蓝天计划平台</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/lib/linearicons/style.css">
	<link rel="stylesheet" href="/lib/chartist/css/chartist-custom.css">
	<link rel="stylesheet" href="/css/bootstrap-table.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/css/commom.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/lantian.png">
	<!-- Javascript -->
	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/lib/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/lib/chartist/js/chartist.min.js"></script>
	<script src="/js/klorofil-common.js"></script>
	<script src="/js/user/user.js"></script>
	<!-- <script src="../static/lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script> -->
	<script  src="/lib/zsh-ui/js/bootstrap-4.0.0-dist/js/bootstrap-table.min.js"></script>
	<script src ="/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div id="abc"></div>
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="toAdv"><img src="/img/logo-dark3.png" alt="Klorofil Logo"
						class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" >
						<li>
							<div style="line-height:52px;">
								<i class="lnr lnr-calendar-full m-r-5"></i>2019年4月18号
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="logout()"><img src="/img/_20190418180241.png"
									class="img-circle" alt="Avatar"> <span>退出</span><!-- <span th:text="${session.CUR_USER.username}"></span> --></a>
							<!-- <ul class="dropdown-menu" onclick="logout()">
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
							</ul> -->
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" id="menuTree">
						<li><a href="toAdv"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
						<li><a href="reportList.html"><i class="lnr lnr-file-empty"></i> <span>效果报告</span></a>
						</li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="active" aria-expanded="true"><i class=" lnr
								lnr-lock"></i>
								<span>权限管理</span>
								<i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="active" aria-expanded="true">
								<ul class="nav">
									<li><a href="toUser" class="active">用户管理</a></li>
									<li><a href="toRole" class="">角色管理</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#subPages" data-toggle="collapse" class="" aria-expanded="true"><i class=" lnr
								lnr-lock"></i>
							<span>店铺管理</span>
							<i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="" aria-expanded="true">
								<ul class="nav">
									<li><a href="toShopping" class="">商品管理</a></li>
								</ul>
							</div>
						</li>
						<li><a href="data-maintain.html" class=""><i class="lnr lnr-screen"></i> <span>数据维护</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<!-- 搜索条件 -->
							<div class="panel panel-headline">
								<!-- <div class="panel-heading">
									<h3 class="panel-title m-0"> <i class="fa fa-search"></i>搜索条件</h3>
								</div> -->
								<div class="panel-body">
									<form class="form-inline">
										<div class="m-r-15 flex ft m-t-b-10">
											<span class="m-r-5">
												用户名：</span>
											<div class="form-group">
												<input type="text" class="form-control" name="username" id="exampleInputEmail3" placeholder="请输入用户名">
											</div>
										</div>
										<div class="m-r-15 flex ft m-t-b-10">
											<span class="m-r-5">
												是否有效：</span>
											<select class="form-control" name="status">
<!-- 												<option value='' disabled selected style='display:none;'>是否有效</option>
 -->												<option value="1">是</option>
												<option value="0">否</option>
											</select>
										</div>
										<button class="btn btn-primary ft m-t-b-10" type="button" onclick="checkUser()">查询</button>
									</form>
								</div>
							</div>
							<!-- END 搜索条件-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- 广告计划表 -->
							<div class="panel panel-headline">
								<div class="panel-heading">
										<span class="ft fa fa-table ft-22"></span>
										<h3 class="panel-title">用户列表</h3>
								
									<div class="right">
										<button class="btn btn-xs btn-primary ft  m-0" type="button"  data-toggle="modal"
											data-target="#modalAddUser">新增用户</button>
										<button type="button" class="btn-toggle-collapse"><i
												class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<table class="table table-hover" id="table">
									</table>
									<div>
									</div>

								</div>
							</div>
							<!-- END 广告计划表 -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->

			<!-- Modal -->
			<!-- 充值 -->
			<div class="modal fade bs-example-modal-sm" tabindex="-1" id="rechargeModal" role="dialog"
				aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content cl">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">添加用户</h4>
						</div>
						<div class="modal-body cl">
							<!-- <div class="col-md-12 form-inline m-b-20px">
								<span>充值用户：</span>
								<input type="text" class="form-control" id="exampleInputEmail3" placeholder="请输入公司名称">
							</div>
							<div class="col-md-12 form-inline m-b-20px">
								<span>充值日期：</span>
								<input type="text" class="form-control" id="exampleInputEmail3" placeholder="请输入公司电话">
							</div>
							<div class="col-md-12 form-inline m-b-20px">
								<span>充值方式：</span>
								<input type="text" class="form-control" id="exampleInputEmail3" placeholder="请输入公司邮箱">
							</div> -->
							<div class="col-md-12 form-inline m-b-20px">
								<span>充值金额：</span>
								<input type="text" class="form-control" id="rcBalance" placeholder="请输入金额">
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" onclick="saveUser()">保存</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 充值 END -->
			
			
			<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">用户管理</h4>
						</div>
						<div class="modal-body cl _modal">
							<div class="col-md-6 form-inline m-b-20px">
								<span>用户名：</span>
								<input type="text" class="form-control" id="username" placeholder="请输入用户名">
							</div>
							<div class="col-md-6 form-inline m-b-20px">
								<span>账号：</span>
								<input type="text" class="form-control" id="useraccount" placeholder="请输入账号">
							</div>
							<div class="col-md-6 form-inline m-b-20px">
								<span>密码：</span>
								<input type="text" class="form-control" id="userpassword" placeholder="请输入密码">
							</div>
							<div class="col-md-6 form-inline m-b-20px">
								<span>手机号码：</span>
								<input type="text" class="form-control" id="telephonenum" placeholder="请输入手机号码">
							</div>
							<div class="col-md-6 form-inline m-b-20px">
								<span>账户角色：</span>
								<select class="form-control" id="roleId">
									<!-- <option value="cheese">百度</option>
									<option value="tomatoes">阿里巴巴</option> -->
								</select>
							</div>
							<div class="col-md-6 form-inline m-b-20px">
								<span>公司名称：</span>
								<select class="form-control" id="company2" name="selecetCompany">
									<!-- <option value="cheese">百度</option>
									<option value="tomatoes">阿里巴巴</option> -->
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" onclick="saveUser()">保存</button>
						</div>
					</div>
				</div>
			</div>
			<!-- MODAL END -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<input type="hidden" id="footerCompany" th:value="${session.CUR_USER.company}">
			<div class="container-fluid">
				<p id="footer" class="copyright"></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->

</body>
<script type="text/javascript">


</script>

</html>